@import "../../constants.scss";
.container{
    display: flex;
    align-items: center;
  
    .MuiInput-root{
        min-width: 20em;
    }
    .label{
        color: $primary-color;
        margin-right: 1em;
    }
}