@import "../../constants.scss";
.container{
    display: flex;
    align-items: center;
  
    .label{
        color: $primary-color;
        margin-right: 1em;
    }
    .MuiFormControl-marginNormal{
        width: 23em;
    }
}