@import '../../constants.scss';

.root{
  margin-top: 1rem;
  

  .heading-cell {
    height: 1rem;
    border-left: 1px solid $primary-color;
    border-top: 1px solid $primary-color;
    border-bottom: 1px solid $primary-color;
    &:last-child {
        border-right: 1px solid $primary-color;
    }
    font-weight: bold;
    background: $table-header-color;
  }

  .padding-1rem {
    padding: 1rem;
  }

  .name {
    width: 50%;
  }
  .age {
    flex: 10%;
  }

  .full-time {
    width: 10%;
  }
  .manager {
    width: 10%;
  }
  
}